* {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(rgba(60, 60, 60, 1), rgba(0, 0, 0, 0));
}

.logo_header {
    width: 250px;
    height: auto;
}

.logout {
    height: 20px;
    width: auto;
}