{% extends 'base.html.twig' %}

{% block style %}{{ asset('css/home.css') }}{% endblock style %}

{% block title %} Home page {% endblock title %}

{% block main %}

    <h1 class="title">Bienvenu sur le site de Pandeüs E-sport</h1>



{% endblock main %}